.container {
	padding-top: 30px;
}
.icon-chevron-down, .icon-chevron-up {
	display: none;
	float: right;
}
.headerSortDown .icon-chevron-down {
	display: block;
}
.headerSortUp .icon-chevron-up {
	display: block;
}
.header:hover {
	background-color: #F5F5F5;
}

.table td, .table th {
	background-color: #FFFFFF;
}

input[type="checkbox"] {
	margin-top: 6px;
	z-index: 10;
	display: block;
}

body {
	min-height: 100%;
	position: relative;
}

img {
	width: 60px;
}

th.type {
	width: 60px;
}

td.clickable:hover, th.clickable:hover {
	cursor: pointer;
	background-color: #eeeeee !important;
}

tr.info td.clickable:hover, tr.info th.clickable:hover {
	background-color: #c4e3f3 !important;
}

td.total img, td.friends img {
	width: 30px;
	height: 30px;
}

#facebook {
	float: right;
	background-color: #3b5998;
	padding: 5px 8px;
	font-weight: bold;
}

#facebook a, #facebook p {
	padding: 0;
	margin: 0;
	color: white;
	text-decoration: none;
}

#facebook a:hover {
	color: white;
	text-decoration: underline;
}

#placeModal form {
	padding: 0;
	margin: 0;
}

#friendsModal img {
	width: 50px;
	height: 50px;
}

#friendsModal table {
	margin: 0;
}

#friendsModal .modal-body {
	
}

#friendsModal .modal-body {
	padding: 0;
}

#friendsModal .facebookname {
	color: #3b5998;
	font-weight: bold;
}

#friendsModal tr td:first-child {
	padding: 15px;
	padding-right: 0;
}

#friendsModal tr:first-child td {
	border: none;
}

#friendsModal td {
	vertical-align: middle;
}

/*
#line {
	position: absolute;
	top: 0px;
	bottom: 0px;
	margin-left: 10%;
	width: 1px;
	border-right: 3px solid #DD0000;
	z-index: -10;
}
*/
